<p-carousel [value]="slides()" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000"
  [showNavigators]="false" [showIndicators]="true" styleClass="presentation-carousel">

  <ng-template #item let-slide>
    <div class="slide">
      @if (slide.imgUrl) {
      <img [src]="slide.imgUrl" [alt]="slide.title" class="slide-img" />
      } @else {
      <div class="slide-placeholder"></div>
      }
      <div class="slide-overlay">
        <h1 class="slide-title">{{ slide.title }}</h1>
      </div>
    </div>
  </ng-template>

</p-carousel>