<div class="about">
  <div class="image-container">
    @if (tagStore.$weAreImgUrl()) {
      <img class= "image-style" [src]="tagStore.$weAreImgUrl()" alt="Who we are" />
    }
  </div>

  <div class="about-content">
    <p>
      <strong>Luís José Construção e Soluções Tecnológicas LDA ou LJConstruTic</strong>
      uma Empresa fundada em 2023 com propósito de prestar serviços de melhor qualidade nas áreas de Construção Civil eUrbana, 
      Soluções Tecnológicas em Tecnologia de Comunicação e Informação TIC/IT.
    </p>
    <button class="btn btn--primary">Saiba mais</button>
  </div>
</div>