<div class="component-container">
  <h2 class="news-title">Notícias</h2>

  <div class="news-grid">
    
    <!-- Usamos un div normal con tu clase, igual que en tus productos -->
    <div class="news-card">
      
      <!-- Contenedor de la foto -->
      <div class="news-card-img">
        <img src="img/new.jpg" alt="apresentaçao" />
      </div>

      <!-- Contenedor del texto y el botón -->
      <div class="news-card-body">
        <p class="news-card-text">O futuro digital da LJ Constructic</p>
        <button class="btn-byn" (click)="goToNews()">
          Saiba mais
        </button>
      </div>

    </div>

  </div>
</div>